PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin"
WIREGUARD_PRIVATE_KEY=
WIREGUARD_PRESHARED_KEY=
WIREGUARD_ADDRESSES=
VPN_COUNTRY=Germany
VPN_CITIES=Frankfurt
TIMEZONE=Europe/Berlin
UMAMI_USER=umami
UMAMI_PASSWORD=ChangeMe!!!
UMAMI_APP_SECRET=topsecret
